html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-image: url('image.jpg');
    background-repeat:no-repeat;
    background-position:center;
    }